/* YOUR CUSTOM STYLES */

@import url('https://fonts.googleapis.com/css?family=Roboto:500');

body {
	background: #E5E5E5;
	color: #3C4858;
	overflow: hidden;
	font-family: Roboto;
}

a {
	color: #504751;
}

a:hover {
	text-decoration: none;
	color: #003f84;
}

.title {
	color: #212121 !important;
}

.breadcrumb {
	background: transparent;
}

.navbar {
	padding: 0 !important;
	box-shadow: unset !important;
}

.navbar .navbar-brand {
	padding: 10px;
}

.navbar .nav-link {
	font-size: 1.3rem;
}

.nav-item .nav-link {
	color: #212121 !important;
}

.active .nav-link {
	color: #fef003 !important;
	background: unset !important;
}

.post-nav .nav-link {
	padding-left: 0;
	font-size: small;
}

.btn-custom {
	background: #212121;
	color: #ffffff;
}

/*
Button New App
*/

#btn-new-app {
	line-height: 0.25;
	padding: 7.5px 10px;
}

#btn-new-app span {
	font-size: 12px;
	line-height: 12px;
}

#btn-new-app i {
	font-size: 24px;
	line-height: 24px;
}


/*
Flag
*/

#flag-icon {
	list-style: none;
	margin-bottom: 0;
	margin-top: 5px;
	padding-left: 15px;
}

#flag-icon li {
	line-height: 0;
	margin-bottom: 5px;
}

#flag-icon a{
	padding: 1px;
}

#flag-icon img {
	width: 20px;
}

/*
News Ticker
*/

#news-ticker i,
#news-ticker p {
	line-height: 25px;
	white-space: nowrap;
}

#news-ticker p {
	left: 3%;
	position: absolute;
	width: 97%;
	color: #000000;
	top: 0;
}

#news-ticker-container {
	box-shadow: 0px 5px 10px grey;
	border-radius: 5px;
	overflow: hidden;
}

#news-ticker-container {
	background: #ffffff;
}

/*
Stacked Card Carousel
*/

.card-carousel-container {
	position: fixed;
	width: 100%;
	height: 100%;
	margin-top: 1%;
}

.card-carousel {
	position: absolute;
	width: 88%;
	height: 80%;
	left: 5%;
	border-radius: 10px;
	overflow: hidden;
	cursor: pointer;
	background: #fef003;
	box-shadow: 0px 0px 10px #333333;
	transition: background 1s ease;
}

.card-carousel.active {
	cursor: auto;
	background: #ffffff;
}

.card-carousel>.card-carousel-title-vert {
	position: absolute;
	transform: rotate(90deg);
	width: 50px;
	white-space: nowrap;
	top: 30px;
	color: #212121;
	transition: display .5s ease;
}

.card-carousel>.card-carousel-title-vert.right {
	right: -7px;
}

.card-carousel>.card-carousel-title-vert.left {
	left: -7px;
}

.card-carousel.active>.card-carousel-title-vert {
	display: none;
}

.card-carousel-content {
	overflow: auto;
	position: relative;
	height: 100%;
	width: 105%;
	padding-right: 5%;
	overflow-x: hidden;
	display: none;
	transition: display 1.5s ease;
}

.card-carousel.active>.card-carousel-content {
	display: block;
}

.card-carousel-content-item {
	padding: 10px;
	padding-bottom: 0;
}

.card-carousel .carousel-content-header {
	position: sticky;
	z-index: 25;
	width: 110%;
	padding-right: 100px;
	top: 0px;
	margin-top: -10px;
	margin-bottom: 15px;
	background: #495057;
	box-shadow: 0 0 0 lightgrey;
	height: 3rem;
	transition: background 1s ease, box-shadow .5s ease;
}

.card-carousel .carousel-content-header .breadcrumb {
	padding: 0;
	line-height: 2rem;
}

/*
Headline
*/

#full-page-headline {
	width: 100%;
	height: 100%;
	background-image: url(../images/post-1.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	overflow: hidden;
}

#full-page-headline-caption {
	background: rgba(0, 0, 0, 0.5);
	color: #fff;
	padding: 2.5% 0;
	height: 100%;
}

#full-page-headline a {
	color: #fff;
}

#full-page-headline-caption p {
	height: 100%;
}

#full-page-headline-caption h1,
#full-page-headline-caption p
{
	padding: 10px 20px;
	margin: 0;
	background: rgba(0, 0, 0, 0.5);
	transition: background .3s ease;
}

#full-page-headline-caption a:hover > h1,
#full-page-headline-caption a:hover > p {
	background: rgba(0, 0, 0, 0.7);
}

/*
Thumbnail
*/

.prod-sec img,
.snag-image img,
.carousel-item img,
.download img,
.news-sec img {
	height: 150px; 
	width: 100%; 
	object-fit: cover;
}

.snag-image img {
	height: 200px; 
}

.post-1 img {
	height: 250px; 
}
.download img,
.post-2 img {
	height: 200px; 
}
.post-3 img {
	height: 150px; 
}

.post-image {
	width: 100%;
}

.carousel-item img {
	height: 350px;
}

.price {
	color: #003f84;
}

.prod-sec > .card-carousel-content > .card-carousel-content-item > .row.py-2,
.news-sec > .card-carousel-content > .card-carousel-content-item > .row.py-2 {
	border-bottom: 1px solid lightgrey;
}

.news-sec h1,
.prod-sec h1 {
	font-size: 2rem;
}

/*
Single Card
*/

.single-item {
	width: 94% !important;
}

.single-item .card-carousel-content-item > .row {
	margin-left: -2px;
}

/*
Product Carousel
*/

#preview-select .active > img {
	border: 1px #0062cc solid;
}

/*
Timeline
*/

/* Media Queries */
/* Card sizing */
/* Colors */
/* Calculations */
/* Placeholders */
@media (min-width: 1000px) {
	#timeline .demo-card:nth-child(odd) .head::after, #timeline .demo-card:nth-child(even) .head::after {
		position: absolute;
		content: "";
		width: 0;
		height: 0;
		border-top: 15px solid transparent;
		border-bottom: 15px solid transparent;
	}

	#timeline .demo-card:nth-child(odd) .head::before, #timeline .demo-card:nth-child(even) .head::before {
		position: absolute;
		content: "";
		width: 9px;
		height: 9px;
		background-color: #bdbdbd;
		border-radius: 9px;
		box-shadow: 0px 0px 2px 8px #f7f7f7;
	}
}
/* Some Cool Stuff */
.demo-card:nth-child(1) {
	order: 1;
}

.demo-card:nth-child(2) {
	order: 4;
}

.demo-card:nth-child(3) {
	order: 2;
}

.demo-card:nth-child(4) {
	order: 5;
}

.demo-card:nth-child(5) {
	order: 3;
}

.demo-card:nth-child(6) {
	order: 6;
}

/* Border Box */
#timeline h1 {
	text-align: center;
	font-size: 3rem;
	font-weight: 200;
	margin-bottom: 20px;
}
#timeline p.leader {
	text-align: center;
	max-width: 90%;
	margin: auto;
	margin-bottom: 45px;
}
#timeline .demo-card-wrapper {
	position: relative;
	margin: auto;
}
@media (min-width: 1000px) {
	#timeline .demo-card-wrapper {
		display: flex;
		flex-flow: column wrap;
		width: 1170px;
		height: 1650px;
		margin: 0 auto;
	}
}
#timeline .demo-card-wrapper::after {
	z-index: 1;
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 50%;
	border-left: 1px solid rgba(191, 191, 191, 0.4);
}
@media (min-width: 1000px) {
	#timeline .demo-card-wrapper::after {
		border-left: 1px solid #bdbdbd;
	}
}
#timeline .demo-card {
	position: relative;
	display: block;
	margin: 10px auto 80px;
	max-width: 94%;
	z-index: 2;
}
@media (min-width: 480px) {
	#timeline .demo-card {
		max-width: 60%;
		box-shadow: 0px 1px 22px 4px rgba(0, 0, 0, 0.07);
	}
}
@media (min-width: 720px) {
	#timeline .demo-card {
		max-width: 40%;
	}
}
@media (min-width: 1000px) {
	#timeline .demo-card {
		max-width: 450px;
		height: 400px;
		margin: 90px;
		margin-top: 45px;
		margin-bottom: 45px;
	}
	#timeline .demo-card:nth-child(odd) {
		margin-right: 45px;
	}
	#timeline .demo-card:nth-child(odd) .head::after {
		border-left-width: 15px;
		border-left-style: solid;
		left: 100%;
	}
	#timeline .demo-card:nth-child(odd) .head::before {
		left: 491.5px;
	}
	#timeline .demo-card:nth-child(even) {
		margin-left: 45px;
	}
	#timeline .demo-card:nth-child(even) .head::after {
		border-right-width: 15px;
		border-right-style: solid;
		right: 100%;
	}
	#timeline .demo-card:nth-child(even) .head::before {
		right: 489.5px;
	}
	#timeline .demo-card:nth-child(2) {
		margin-top: 180px;
	}
}
#timeline .demo-card .head {
	position: relative;
	display: flex;
	align-items: center;
	color: #fff;
	font-weight: 400;
}
#timeline .demo-card .head .number-box {
	display: inline;
	float: left;
	margin: 15px;
	padding: 10px;
	font-size: 35px;
	line-height: 35px;
	font-weight: 600;
	background: rgba(0, 0, 0, 0.17);
}
#timeline .demo-card .head h2 {
	text-transform: uppercase;
	font-size: 1.3rem;
	font-weight: inherit;
	letter-spacing: 2px;
	margin: 0;
	padding-bottom: 6px;
	line-height: 1rem;
}
@media (min-width: 480px) {
	#timeline .demo-card .head h2 {
		font-size: 165%;
		line-height: 1.2rem;
	}
}
#timeline .demo-card .head h2 span {
	display: block;
	font-size: 0.6rem;
	margin: 0;
}
@media (min-width: 480px) {
	#timeline .demo-card .head h2 span {
		font-size: 0.8rem;
	}
}
#timeline .demo-card .body {
	background: #fff;
	border: 1px solid rgba(191, 191, 191, 0.4);
	border-top: 0;
	padding: 15px;
}
@media (min-width: 1000px) {
	#timeline .demo-card .body {
		height: 315px;
	}
}
#timeline .demo-card .body p {
	font-size: 14px;
	line-height: 18px;
	margin-bottom: 15px;
}
#timeline .demo-card .body img {
	display: block;
	width: 100%;
}
#timeline .demo-card--step1 {
	background-color: #46b8e9;
}
#timeline .demo-card--step1 .head::after {
	border-color: #46b8e9;
}
#timeline .demo-card--step2 {
	background-color: #3ee9d1;
}
#timeline .demo-card--step2 .head::after {
	border-color: #3ee9d1;
}
#timeline .demo-card--step3 {
	background-color: #ce43eb;
}
#timeline .demo-card--step3 .head::after {
	border-color: #ce43eb;
}
#timeline .demo-card--step4 {
	background-color: #4d92eb;
}
#timeline .demo-card--step4 .head::after {
	border-color: #4d92eb;
}
#timeline .demo-card--step5 {
	background-color: #46b8e9;
}
#timeline .demo-card--step5 .head::after {
	border-color: #46b8e9;
}

/*
MD Form
*/

.md-form .form-group {
	position: relative;
	margin-top: 35px;
	margin-bottom: 20px;
}
.md-form .input-group {
	position: relative;
}
.md-form .form-control {
	display: block;
	height: 36px;
	width: 100%; 
	border: none;
	border-radius: 0 !important;

	font-size: 16px;
	font-weight: 300;
	padding: 0;
	background-color: transparent;
	box-shadow: none;
	border-bottom: 1px solid #757575;
}
.md-form .input-group .form-control {
	position: relative;
	z-index: inherit;
	float: inherit;
	width: 100%;
	margin-bottom: 0;
}
.md-form .form-control:focus {
	border-color: #757575;
	outline: none;
	box-shadow: none;
}

/* -- label styles ---------------------------------- */
.md-form label {
	position: absolute;
	top: -18px;
	color: #999;
	font-size: 12px;
	font-weight: 300;

	transition: 0.2s ease all;
	-moz-transition: 0.2s ease all;
	-webkit-transition: 0.2s ease all;
}

.md-form .form-horizontal .control-label {
	position: relative;
	top: 0;
	margin-bottom: 0;
}

@media (min-width: 768px) {
	.md-form .form-horizontal .control-label {
		font-size: 16px;
	}
}





.md-form .float-label {
	left: 0;
	top: 7px;
	font-size: 16px;
	pointer-events: none;
}

/* active state */
.md-form .form-control:focus ~ .float-label, .md-form .form-control:valid ~ .float-label {
	top: -18px;
	font-size: 12px;
}


/* input colors ---- */
/*// default*/
.md-form .form-control:focus ~ label {
	color: #03a9f4;
}

.md-form .form-control:focus ~ .form-bar:before, .md-form .form-control:focus ~ .form-bar:after {
	background: #03a9f4;
}




.md-form .form-control:valid ~ .control-label {

}

/* help-block */
.md-form .form-group .help-block {
	position: absolute;
}

.md-form .help-block {
	color: #bdbdbd; // caption
	font-size: 12px;
	font-weight: 300;
}

/* input addon ---*/
.md-form .input-group-addon {
	border: none;
	background: transparent;
}

/* ------  inline ----*/
.md-form .input-group-addon, .md-form .form-inline .input-group {
	display: table-cell;
}

.md-form .input-group-addon, .md-form .input-group-btn {
	width: inherit;
}

.md-form .input-group {
	width: 100%;
}

@media (min-width: 768px) {
	.md-form .form-inline .form-group {
		margin-top: 16px;
	}

	.md-form .input-group-btn, .md-form .input-group .form-control, .md-form .input-group-addon, .md-form .form-inline .input-group {
		display: inline-block;
	}

	.md-form .input-group {
		width: auto;
	}
}

/* -- bar styles -------------------------------------- */
.md-form .form-bar {
	position: relative;
	display: block;
	width: 100%;
}
.md-form .form-bar:before, .md-form .form-bar:after 	{
	content: '';
	height: 1px;
	width: 0;
	bottom: 0;
	position: absolute;
	transition: 0.3s ease all;
	-moz-transition: 0.3s ease all;
	-webkit-transition: 0.3s ease all;
}
.md-form .form-bar:before {
	left: 50%;
}
.md-form .form-bar:after {
	right: 50%;
}

/* active state */
.md-form .form-control:focus ~ .form-bar:before, .md-form .form-control:focus ~ .form-bar:after {
	width: 50%;
}

/* -- highlighter styles ------------------------------ */
.md-form .form-highlight {
	position: absolute;
	height: 60%;
	width: 60px;
	top: 25%;
	left: 0;
	pointer-events: none;
	opacity: 0.4;
}

/* active state */
.md-form .form-control:focus ~ .form-highlight {
	-webkit-animation: inputHighlighter 0.3s ease;
	-moz-animation: inputHighlighter 0.3s ease;
	animation: inputHighlighter 0.3s ease;
}

/* -- highlighter animation --------------------------- */
@-webkit-keyframes inputHighlighter {
	from { background:#5264AE; }
	to { width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
	from { background:#5264AE; }
	to { width:0; background:transparent; }
}
@keyframes inputHighlighter {
	from { background:#5264AE; }
	to { width:0; background:transparent; }
}


/*-- Checkbox --------------------------- */
/*// fork from https://codepen.io/jasonmayes/pen/wxtFr*/
/* 
* Core styles required for the checkboxes.
* @author Jason Mayes 2014, www.jasonmayes.com
*/
.md-form .form-group.checkbox {
	margin-top: 20px;
}

.md-form .checkbox input[type='checkbox'] {
	height: 0;
	width: 0;
	opacity: 0;
}

.md-form .checkbox label {
	font-size: 14px;
	font-weight: 300;
	line-height: 1;
	display: inline-block;
	overflow: hidden;
	position: relative;
	top: 10px;
	padding-left: 0;
}

.md-form .checkbox .chk-span {
	top: 0;
	border: 1px solid #5a5a5a;
	color: #1d1d1d;
	cursor: pointer;
	display: inline-block;
	float: left;
	height: 14px;
	margin: 0 14px 14px 1px;
	outline-color: #eaeaea;
	padding: 0;
	position: relative;
	width: 14px;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	z-index: 1;
}

.md-form .checkbox .chk-span.checked {
	top: -2px;
	border-left: 2px solid #03a9f4;
	border-bottom: 4px solid #03a9f4;
	border-top: 1px solid rgba(0,0,0,0);
	border-right: 1px solid rgba(0,0,0,0);
	-webkit-transform: rotate(-45deg) scaleY(0.5);
	-moz-transform: rotate(-45deg) scaleY(0.5);
	-ms-transform: rotate(-45deg) scaleY(0.5);
	-o-transform: rotate(-45deg) scaleY(0.5);
	transform: rotate(-45deg) scaleY(0.5);
}

/*// Checkbox colors*/
.md-form .checkbox .chk-span.checked {
	border-left-color: #03a9f4;
	border-bottom-color: #03a9f4;
}

/*// focus state*/
.md-form .checkbox input[type='checkbox']:focus ~ label {

	color: #03a9f4;

	.chk-span {
		border-color: #03a9f4;
		&.checked {
			border-left-color: #03a9f4;
			border-bottom-color: #03a9f4;
			border-top: 1px solid rgba(0, 0, 0, 0);
			border-right: 1px solid rgba(0, 0, 0, 0);
		}
	}
}



@media (min-width: 768px) {
	.md-form .form-inline .radio label, .md-form .form-inline .checkbox label {
		padding-left: 5px;
	}
}





.md-form .form-control-static {
	font-size: 16px;
}

.md-form .form-control[disabled], .md-form .form-control[readonly], .md-form fieldset[disabled] .form-control {
	background-color: transparent;
	border-bottom-style: dashed;
}



#focusedInput {
	border-color: #ccc;
	border-color: rgba(82,168,236,.8);
	outline: 0;
	box-shadow: none;
}

/*
Login
*/

.modal-dialog {
	width: 300px;
}

/* Container */
.container-login {
	position: relative;
	max-width: 460px;
	width: 100%;
	margin: 0 auto 100px;
}
.container-login.active .card-login:first-child {
	background: #f2f2f2;
	margin: 0 15px;
}
.container-login.active .card-login:nth-child(2) {
	background: #fafafa;
	margin: 0 10px;
}
.container-login.active .card-login.alt {
	top: 20px;
	right: 0;
	width: 100%;
	min-width: 100%;
	height: auto;
	border-radius: 5px;
	padding: 60px 0 40px;
	overflow: hidden;
}
.container-login.active .card-login.alt .toggle-register {
	position: absolute;
	top: 40px;
	right: -70px;
	box-shadow: none;
	-webkit-transform: scale(15);
	transform: scale(15);
	-webkit-transition: -webkit-transform .3s ease;
	transition: -webkit-transform .3s ease;
	transition: transform .3s ease;
	transition: transform .3s ease, -webkit-transform .3s ease;
}
.container-login.active .card-login.alt .toggle-register:before {
	content: '';
}
.container-login.active .card-login.alt .title,
.container-login.active .card-login.alt .input-container,
.container-login.active .card-login.alt .button-container {
	left: 0;
	opacity: 1;
	visibility: visible;
	-webkit-transition: .3s ease;
	transition: .3s ease;
}
.container-login.active .card-login.alt .title {
	-webkit-transition-delay: .3s;
	transition-delay: .3s;
}
.container-login.active .card-login.alt .input-container {
	-webkit-transition-delay: .4s;
	transition-delay: .4s;
}
.container-login.active .card-login.alt .input-container:nth-child(2) {
	-webkit-transition-delay: .5s;
	transition-delay: .5s;
}
.container-login.active .card-login.alt .input-container:nth-child(3) {
	-webkit-transition-delay: .6s;
	transition-delay: .6s;
}
.container-login.active .card-login.alt .button-container {
	-webkit-transition-delay: .7s;
	transition-delay: .7s;
}

/* Card login */
.card-login {
	position: relative;
	background: #ffffff;
	border-radius: 5px;
	padding: 60px 0 40px 0;
	box-sizing: border-box;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	-webkit-transition: .3s ease;
	transition: .3s ease;
	/* Title */
	/* Inputs */
	/* Button */
	/* Footer */
	/* Alt Card */
}
.card-login:first-child {
	background: #fafafa;
	height: 10px;
	border-radius: 5px 5px 0 0;
	margin: 0 10px;
	padding: 0;
}
.card-login .title {
	position: relative;
	z-index: 1;
	border-left: 5px solid #fef003;
	margin: 0 0 35px;
	padding: 10px 0 10px 50px;
	color: #fef003;
	font-size: 32px;
	font-weight: 600;
	text-transform: uppercase;
}
.card-login .input-container {
	position: relative;
	margin: 0 30px 20px;
}
.card-login .input-container input {
	outline: none;
	z-index: 1;
	position: relative;
	background: none;
	width: 100%;
	height: 60px;
	border: 0;
	color: #212121;
	font-size: 24px;
	font-weight: 400;
}
.card-login .input-container input:focus ~ label {
	color: #9d9d9d;
	-webkit-transform: translate(-12%, -50%) scale(0.75);
	transform: translate(-12%, -50%) scale(0.75);
}
.card-login .input-container input:focus ~ .bar:before, .card-login .input-container input:focus ~ .bar:after {
	width: 50%;
}
.card-login .input-container input:valid ~ label {
	color: #9d9d9d;
	-webkit-transform: translate(-12%, -50%) scale(0.75);
	transform: translate(-12%, -50%) scale(0.75);
}
.card-login .input-container label {
	position: absolute;
	top: 0;
	left: 0;
	color: #757575;
	font-size: 24px;
	font-weight: 300;
	line-height: 60px;
	-webkit-transition: 0.2s ease;
	transition: 0.2s ease;
}
.card-login .input-container .bar {
	position: absolute;
	left: 0;
	bottom: 0;
	background: #757575;
	width: 100%;
	height: 1px;
}
.card-login .input-container .bar:before, .card-login .input-container .bar:after {
	content: '';
	position: absolute;
	background: #fef003;
	width: 0;
	height: 2px;
	-webkit-transition: .2s ease;
	transition: .2s ease;
}
.card-login .input-container .bar:before {
	left: 50%;
}
.card-login .input-container .bar:after {
	right: 50%;
}
.card-login .button-container {
	margin: 0 60px;
	text-align: center;
}
.card-login .button-container button {
	outline: 0;
	cursor: pointer;
	position: relative;
	display: inline-block;
	background: 0;
	width: 100%;
	border: 2px solid #e3e3e3;
	padding: 10px 0;
	font-size: 24px;
	font-weight: 600;
	line-height: 1;
	text-transform: uppercase;
	overflow: hidden;
	-webkit-transition: .3s ease;
	transition: .3s ease;
}
.card-login .button-container button span {
	position: relative;
	z-index: 1;
	color: #ddd;
	-webkit-transition: .3s ease;
	transition: .3s ease;
}
.card-login .button-container button:before {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	display: block;
	background: #fef003;
	width: 30px;
	height: 30px;
	border-radius: 100%;
	margin: -15px 0 0 -15px;
	opacity: 0;
	-webkit-transition: .3s ease;
	transition: .3s ease;
}
.card-login .button-container button:hover, .card-login .button-container button:active, .card-login .button-container button:focus {
	border-color: #fef003;
}
.card-login .button-container button:hover span, .card-login .button-container button:active span, .card-login .button-container button:focus span {
	color: #fef003;
}
.card-login .button-container button:active span, .card-login .button-container button:focus span {
	color: #ffffff;
}
.card-login .button-container button:active:before, .card-login .button-container button:focus:before {
	opacity: 1;
	-webkit-transform: scale(10);
	transform: scale(10);
}
.card-login .footer {
	margin: 15px 0 0;
	color: #d3d3d3;
	font-size: 24px;
	font-weight: 300;
	text-align: center;
}
.card-login .footer a {
	color: inherit;
	text-decoration: none;
	-webkit-transition: .3s ease;
	transition: .3s ease;
}
.card-login .footer a:hover {
	color: #bababa;
}
.card-login.alt {
	position: absolute;
	top: 40px;
	right: -70px;
	z-index: 10;
	width: 140px;
	height: 140px;
	background: none;
	border-radius: 100%;
	box-shadow: none;
	padding: 0;
	-webkit-transition: .3s ease;
	transition: .3s ease;
	/* Toggle */
	/* Title */
	/* Input */
	/* Button */
}
.card-login.alt .toggle-register {
	position: relative;
	background: #fef003;
	width: 100px;
	height: 100px;
	border-radius: 100%;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	color: #ffffff;
	font-size: 58px;
	line-height: 100px;
	text-align: center;
	cursor: pointer;
}
.card-login.alt .toggle-register:before {
	content: '\f234';
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-transform: translate(0, 0);
	transform: translate(0, 0);
}
.card-login.alt .title,
.card-login.alt .input-container,
.card-login.alt .button-container {
	left: 100px;
	opacity: 0;
	visibility: hidden;
}
.card-login.alt .title {
	position: relative;
	border-color: #ffffff;
	color: #ffffff;
}
.card-login.alt .title .close {
	cursor: pointer;
	position: absolute;
	top: 0;
	right: 20px;
	display: inline;
	color: #ffffff;
	font-size: 58px;
	font-weight: 400;
}
.card-login.alt .title .close:before {
	content: '\00d7';
}
.card-login.alt .input-container input {
	color: #ffffff;
}
.card-login.alt .input-container input:focus ~ label {
	color: #ffffff;
}
.card-login.alt .input-container input:focus ~ .bar:before, .card-login.alt .input-container input:focus ~ .bar:after {
	background: #ffffff;
}
.card-login.alt .input-container input:valid ~ label {
	color: #ffffff;
}
.card-login.alt .input-container label {
	color: rgba(255, 255, 255, 0.8);
}
.card-login.alt .input-container .bar {
	background: rgba(255, 255, 255, 0.8);
}
.card-login.alt .button-container button {
	width: 100%;
	background: #ffffff;
	border-color: #ffffff;
}
.card-login.alt .button-container button span {
	color: #fef003;
}
.card-login.alt .button-container button:hover {
	background: rgba(255, 255, 255, 0.9);
}
.card-login.alt .button-container button:active:before, .card-login.alt .button-container button:focus:before {
	display: none;
}

/* Keyframes */
@-webkit-keyframes buttonFadeInUp {
	0% {
		bottom: 30px;
		opacity: 0;
	}
}
@keyframes buttonFadeInUp {
	0% {
		bottom: 30px;
		opacity: 0;
	}
}
